h1 {
    text-align: center;
    margin: 2rem 1rem;
}

.code div {
    margin-left: 8rem;
}

.code button {
    background: var(--color-danger);
    margin: 1rem 0.5rem;
    display: inline;
    width: 6rem;
    height: 3rem;
    cursor: pointer;
    color: var(--color-white);
}

#html {
    background: var(--transparent);
    border: 1px solid var(--color-white);
}

.display {
    margin: auto;
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 2rem;
}

.display_html {
    display: flex;
}

.display_css {
    display: none;
    grid-template-columns: repeat(6, 1fr);
}

.display_css p{
    margin-top: 30px;
}

.display_project {
    margin: auto;
    display: flex;
    /* background: var(--color-primary); */
    /* box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5); */
    /* text-align: center; */
    padding: 1rem;

}

.inner {
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
    background: var(--color-bg1);
    height: 40vh;
    width: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 370px;
    height: 370px;
    border: 1px solid red; */
}

/* ======================== MEDIA QUERIES (TABLETS) ======================== */
@media screen and (max-width:1024px) {
    .code div {
        margin-left: 5rem;
    }

    .display {
        width: 100%;
    }

    .display_css{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ======================== MEDIA QUERIES (PHONES) ======================== */
@media screen and (max-width:630px) {
    .but {
        height: auto;
    }
    .display_css{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* ======================== MEDIA QUERIES (SMALL-PHONES) ======================== */
@media screen and (max-width:500px) {
    /* .but {
        height: auto;
    } */
    .display_css{
        grid-template-columns: repeat(1, 1fr);
    }
}