.display p{
    /* border-style: solid;
    border-width: 5px;
    border-color: var(--color-bg); */
    padding: 5px;
    margin: 0 5px 5px 0;
}
.display_css {
    grid-template-columns: repeat(5, 1fr);
}

/*  ======================== HEART ======================== */
.heart {
    height: 70px;
    width: 70px;
    background-color: #f20044;
    position: relative;
    box-shadow: 10px 10px 90px #f20044;
    animation: animheart 0.6s linear infinite;
}

@keyframes animheart {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }

    80% {
        transform: rotate(-45deg) scale(1);
    }

    100% {
        transform: rotate(-45deg) scale(0.8);
    }
}

.heart::before {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #f20044;
    box-shadow: -10px 10px 90px #f20044;
    top: -50%;
    left: -0%;
    border-radius: 50%;
}

.heart::after {
    content: '';
    position: absolute;
    box-shadow: 10px -10px 90px #f20044;
    height: 70px;
    width: 70px;
    background-color: #f20044;
    right: -50%;
    border-radius: 50%;
}
@media screen and (max-width: 1190px){
    .display_css {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 766px){
    .display_css {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 560px){
    .display_css {
        grid-template-columns: repeat(1, 1fr);
    }
}