.inner {
    margin: auto;
    padding: 0;
    /* margin-left: 25vh; */
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
    background: var(--color-bg1);
    height: 35rem;
    width: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_div {
    /* background-color: #292727; */
    background: var(--color-bg2);
    border-radius: 5%;
}

.refr {
    font-family: cursive;
    font-style: italic;
    font-stretch: ultra-condensed;
    font-size: 50px;
    color: var(--color-white);
    text-shadow: 10px 10px black;

}

.center {
    text-align: center;
}

.heading {
    font-family: cursive;
    font-size: 30px;
    font-style: italic;
    color: var(--color-white);
    text-shadow: 4px 4px black;
    margin-bottom: 50px;
}

.in-line {
    display: inline-block;
}

.left {
    margin: 10px 110px;
}

.big-dice-padding {
    padding-right: 90px;
    padding-left: 90px;
}

.image-size {
    width: 50px;
}

.dice-size {
    width: 200px;
}

.big-dice-div {
    display: inline-block;
}

.back {
    text-decoration: none;
    font-style: italic;
    font-family: cursive;
    color: var(--color-white);
}

.up {
    margin-top: -1px;
    margin-right: 10px;
    text-align: right;
}

/* #for_refresh {
    border: none;
    background-color: inherit;
    color: var(--color-white);
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
} */

@media screen and (max-width: 1024px) {
    .big-dice-padding {
        padding-right: 80px;
        padding-left: 70px;
    }

    .dice-size {
        width: 150px;
    }
}

@media screen and (max-width: 650px) {
    .inner {
        height: 28rem;
        width: 28rem;
    }

    .refr {
        font-size: 30px;
    }

    .heading {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .left {
        margin-left: 100px;
    }

    .big-dice-padding {
        padding-right: 50px;
        padding-left: 50px;
    }

    .dice-size {
        width: 100px;
    }
}

@media screen and (max-width: 440px) {
    .heading {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .big-dice-padding {
        padding-right: 30px;
        padding-left: 30px;
    }

    .left {
        margin-left: 50px;
    }

    .image-size {
        width: 30px;
    }

    .dice-size {
        width: 70px;
    }
}