#margen{
    margin: 200px;
}
.card{
    width: 250px;
    height: 300px;
    background-color: #333;
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, .5);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgb(14, 14, 17);
    position: relative;

}

.card-image{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: .7;
    /* transform: scale(1.15); */
}
.card:hover{
    transform: scale(1.15);
}
.card-title{
    position: absolute;
    left: 15px;
    bottom: 0px;
    font-size: 20px;
    color: white;
}